In [1]:
import numpy as np
import pandas as pd

In [2]:
df_x = pd.read_csv('/home/bee/Desktop/minor project/aapl .csv',usecols=['Date','Close','Volume'])

In [3]:
df_x

         Date   Close    Volume
0   15-Sep-17  159.88  49114602
1   14-Sep-17  158.28  23760749
2   13-Sep-17  159.65  44907361
3   12-Sep-17  160.86  71714046
4   11-Sep-17  161.50  31580798
5    8-Sep-17  158.63  28611535
6    7-Sep-17  161.26  21928502
7    6-Sep-17  161.91  21651726
8    5-Sep-17  162.08  29536314
9    1-Sep-17  164.05  16591051
10  31-Aug-17  164.00  26785096
11  30-Aug-17  163.35  27269584
12  29-Aug-17  162.91  29516910
13  28-Aug-17  161.47  25965972
14  25-Aug-17  159.86  25480063
15  24-Aug-17  159.27  19818918
16  23-Aug-17  159.98  19399081
17  22-Aug-17  159.78  21604585
18  21-Aug-17  157.21  26368528
19  18-Aug-17  157.50  27428069
20  17-Aug-17  157.86  27940565
21  16-Aug-17  160.95  27671612
22  15-Aug-17  161.60  29465487
23  14-Aug-17  159.85  22122734
24  11-Aug-17  157.48  26257096
25  10-Aug-17  155.32  40804273
26   9-Aug-17  161.06  26131530
27   8-Aug-17  160.08  36205896
28   7-Aug-17  158.81  21870321
29   4-Aug-17  156.39  20559852
30   3-Aug-17  155.57  27097296
31   2-Aug-17  157.14  69936800
32   1-Aug-17  150.05  35368645

In [4]:
df_x.Date = pd.to_datetime(df_x.Date)

In [5]:
df_x

         Date   Close    Volume
0  2017-09-15  159.88  49114602
1  2017-09-14  158.28  23760749
2  2017-09-13  159.65  44907361
3  2017-09-12  160.86  71714046
4  2017-09-11  161.50  31580798
5  2017-09-08  158.63  28611535
6  2017-09-07  161.26  21928502
7  2017-09-06  161.91  21651726
8  2017-09-05  162.08  29536314
9  2017-09-01  164.05  16591051
10 2017-08-31  164.00  26785096
11 2017-08-30  163.35  27269584
12 2017-08-29  162.91  29516910
13 2017-08-28  161.47  25965972
14 2017-08-25  159.86  25480063
15 2017-08-24  159.27  19818918
16 2017-08-23  159.98  19399081
17 2017-08-22  159.78  21604585
18 2017-08-21  157.21  26368528
19 2017-08-18  157.50  27428069
20 2017-08-17  157.86  27940565
21 2017-08-16  160.95  27671612
22 2017-08-15  161.60  29465487
23 2017-08-14  159.85  22122734
24 2017-08-11  157.48  26257096
25 2017-08-10  155.32  40804273
26 2017-08-09  161.06  26131530
27 2017-08-08  160.08  36205896
28 2017-08-07  158.81  21870321
29 2017-08-04  156.39  20559852
30 2017-08-03  155.57  27097296
31 2017-08-02  157.14  69936800
32 2017-08-01  150.05  35368645

In [6]:
df_x = df_x.sort_index(ascending='True')

In [8]:
df_x = df_x.set_index('Date')

In [9]:
df_x = df_x.sort_index(ascending='True')

In [10]:
df_x

             Close    Volume
Date
2017-08-01  150.05  35368645
2017-08-02  157.14  69936800
2017-08-03  155.57  27097296
2017-08-04  156.39  20559852
2017-08-07  158.81  21870321
2017-08-08  160.08  36205896
2017-08-09  161.06  26131530
2017-08-10  155.32  40804273
2017-08-11  157.48  26257096
2017-08-14  159.85  22122734
2017-08-15  161.60  29465487
2017-08-16  160.95  27671612
2017-08-17  157.86  27940565
2017-08-18  157.50  27428069
2017-08-21  157.21  26368528
2017-08-22  159.78  21604585
2017-08-23  159.98  19399081
2017-08-24  159.27  19818918
2017-08-25  159.86  25480063
2017-08-28  161.47  25965972
2017-08-29  162.91  29516910
2017-08-30  163.35  27269584
2017-08-31  164.00  26785096
2017-09-01  164.05  16591051
2017-09-05  162.08  29536314
2017-09-06  161.91  21651726
2017-09-07  161.26  21928502
2017-09-08  158.63  28611535
2017-09-11  161.50  31580798
2017-09-12  160.86  71714046
2017-09-13  159.65  44907361
2017-09-14  158.28  23760749
2017-09-15  159.88  49114602

In [11]:

df_x = df_x.resample('D')

In [12]:
df_x

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [13]:
df_x = df_x.interpolate('linear')

In [14]:
df_x

                 Close        Volume
Date
2017-08-01  150.050000  3.536864e+07
2017-08-02  157.140000  6.993680e+07
2017-08-03  155.570000  2.709730e+07
2017-08-04  156.390000  2.055985e+07
2017-08-05  157.196667  2.099668e+07
2017-08-06  158.003333  2.143350e+07
2017-08-07  158.810000  2.187032e+07
2017-08-08  160.080000  3.620590e+07
2017-08-09  161.060000  2.613153e+07
2017-08-10  155.320000  4.080427e+07
2017-08-11  157.480000  2.625710e+07
2017-08-12  158.270000  2.487898e+07
2017-08-13  159.060000  2.350085e+07
2017-08-14  159.850000  2.212273e+07
2017-08-15  161.600000  2.946549e+07
2017-08-16  160.950000  2.767161e+07
2017-08-17  157.860000  2.794056e+07
2017-08-18  157.500000  2.742807e+07
2017-08-19  157.403333  2.707489e+07
2017-08-20  157.306667  2.672171e+07
2017-08-21  157.210000  2.636853e+07
2017-08-22  159.780000  2.160458e+07
2017-08-23  159.980000  1.939908e+07
2017-08-24  159.270000  1.981892e+07
2017-08-25  159.860000  2.548006e+07
2017-08-26  160.396667  2.564203e+07
2017-08-27  160.933333  2.580400e+07
2017-08-28  161.470000  2.596597e+07
2017-08-29  162.910000  2.951691e+07
2017-08-30  163.350000  2.726958e+07
2017-08-31  164.000000  2.678510e+07
2017-09-01  164.050000  1.659105e+07
2017-09-02  163.557500  1.982737e+07
2017-09-03  163.065000  2.306368e+07
2017-09-04  162.572500  2.630000e+07
2017-09-05  162.080000  2.953631e+07
2017-09-06  161.910000  2.165173e+07
2017-09-07  161.260000  2.192850e+07
2017-09-08  158.630000  2.861154e+07
2017-09-09  159.586667  2.960129e+07
2017-09-10  160.543333  3.059104e+07
2017-09-11  161.500000  3.158080e+07
2017-09-12  160.860000  7.171405e+07
2017-09-13  159.650000  4.490736e+07
2017-09-14  158.280000  2.376075e+07
2017-09-15  159.880000  4.911460e+07

In [15]:
df_x1 = pd.read_csv('/home/bee/Desktop/minor project/views.csv')
views = np.asarray(df_x1)

In [16]:
views

array([[ 166000],
       [ 136000],
       [ 205000],
       [ 193000],
       [ 266000],
       [ 113000],
       [ 120000],
       [ 127000],
       [3540000],
       [ 137000],
       [ 149000],
       [ 131000],
       [ 383000],
       [ 184000],
       [ 174000],
       [ 302000],
       [ 614000],
       [ 129000],
       [ 130000],
       [ 127000],
       [  77700],
       [  88900],
       [  87100],
       [  80900],
       [  65500],
       [  49100],
       [  79200],
       [  81200],
       [  77500],
       [ 108000]])

In [18]:
df = df_x.loc['2017-08-31']

In [19]:
df

Close          164.0
Volume    26785096.0
Name: 2017-08-31 00:00:00, dtype: float64

In [20]:
df_y = df_x.loc['2017-08-02':'2017-08-30']

In [21]:
df_y

                 Close        Volume
Date
2017-08-02  157.140000  6.993680e+07
2017-08-03  155.570000  2.709730e+07
2017-08-04  156.390000  2.055985e+07
2017-08-05  157.196667  2.099668e+07
2017-08-06  158.003333  2.143350e+07
2017-08-07  158.810000  2.187032e+07
2017-08-08  160.080000  3.620590e+07
2017-08-09  161.060000  2.613153e+07
2017-08-10  155.320000  4.080427e+07
2017-08-11  157.480000  2.625710e+07
2017-08-12  158.270000  2.487898e+07
2017-08-13  159.060000  2.350085e+07
2017-08-14  159.850000  2.212273e+07
2017-08-15  161.600000  2.946549e+07
2017-08-16  160.950000  2.767161e+07
2017-08-17  157.860000  2.794056e+07
2017-08-18  157.500000  2.742807e+07
2017-08-19  157.403333  2.707489e+07
2017-08-20  157.306667  2.672171e+07
2017-08-21  157.210000  2.636853e+07
2017-08-22  159.780000  2.160458e+07
2017-08-23  159.980000  1.939908e+07
2017-08-24  159.270000  1.981892e+07
2017-08-25  159.860000  2.548006e+07
2017-08-26  160.396667  2.564203e+07
2017-08-27  160.933333  2.580400e+07
2017-08-28  161.470000  2.596597e+07
2017-08-29  162.910000  2.951691e+07
2017-08-30  163.350000  2.726958e+07

In [22]:
df_y = df_y.append(df)

In [23]:
df_y

                 Close        Volume
Date
2017-08-02  157.140000  6.993680e+07
2017-08-03  155.570000  2.709730e+07
2017-08-04  156.390000  2.055985e+07
2017-08-05  157.196667  2.099668e+07
2017-08-06  158.003333  2.143350e+07
2017-08-07  158.810000  2.187032e+07
2017-08-08  160.080000  3.620590e+07
2017-08-09  161.060000  2.613153e+07
2017-08-10  155.320000  4.080427e+07
2017-08-11  157.480000  2.625710e+07
2017-08-12  158.270000  2.487898e+07
2017-08-13  159.060000  2.350085e+07
2017-08-14  159.850000  2.212273e+07
2017-08-15  161.600000  2.946549e+07
2017-08-16  160.950000  2.767161e+07
2017-08-17  157.860000  2.794056e+07
2017-08-18  157.500000  2.742807e+07
2017-08-19  157.403333  2.707489e+07
2017-08-20  157.306667  2.672171e+07
2017-08-21  157.210000  2.636853e+07
2017-08-22  159.780000  2.160458e+07
2017-08-23  159.980000  1.939908e+07
2017-08-24  159.270000  1.981892e+07
2017-08-25  159.860000  2.548006e+07
2017-08-26  160.396667  2.564203e+07
2017-08-27  160.933333  2.580400e+07
2017-08-28  161.470000  2.596597e+07
2017-08-29  162.910000  2.951691e+07
2017-08-30  163.350000  2.726958e+07
2017-08-31  164.000000  2.678510e+07

In [24]:
df_y = df_y.append(df)

In [25]:
df_y

                 Close        Volume
Date
2017-08-02  157.140000  6.993680e+07
2017-08-03  155.570000  2.709730e+07
2017-08-04  156.390000  2.055985e+07
2017-08-05  157.196667  2.099668e+07
2017-08-06  158.003333  2.143350e+07
2017-08-07  158.810000  2.187032e+07
2017-08-08  160.080000  3.620590e+07
2017-08-09  161.060000  2.613153e+07
2017-08-10  155.320000  4.080427e+07
2017-08-11  157.480000  2.625710e+07
2017-08-12  158.270000  2.487898e+07
2017-08-13  159.060000  2.350085e+07
2017-08-14  159.850000  2.212273e+07
2017-08-15  161.600000  2.946549e+07
2017-08-16  160.950000  2.767161e+07
2017-08-17  157.860000  2.794056e+07
2017-08-18  157.500000  2.742807e+07
2017-08-19  157.403333  2.707489e+07
2017-08-20  157.306667  2.672171e+07
2017-08-21  157.210000  2.636853e+07
2017-08-22  159.780000  2.160458e+07
2017-08-23  159.980000  1.939908e+07
2017-08-24  159.270000  1.981892e+07
2017-08-25  159.860000  2.548006e+07
2017-08-26  160.396667  2.564203e+07
2017-08-27  160.933333  2.580400e+07
2017-08-28  161.470000  2.596597e+07
2017-08-29  162.910000  2.951691e+07
2017-08-30  163.350000  2.726958e+07
2017-08-31  164.000000  2.678510e+07
2017-08-31  164.000000  2.678510e+07

In [26]:
df_x = df_x.loc['2017-08-01':'2017-08-30']

In [27]:
views = np.asarray(df_x1)

In [28]:
views

array([[ 166000],
       [ 136000],
       [ 205000],
       [ 193000],
       [ 266000],
       [ 113000],
       [ 120000],
       [ 127000],
       [3540000],
       [ 137000],
       [ 149000],
       [ 131000],
       [ 383000],
       [ 184000],
       [ 174000],
       [ 302000],
       [ 614000],
       [ 129000],
       [ 130000],
       [ 127000],
       [  77700],
       [  88900],
       [  87100],
       [  80900],
       [  65500],
       [  49100],
       [  79200],
       [  81200],
       [  77500],
       [ 108000]])

In [29]:
df_x['Google_result'] = views

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
df_x

                 Close        Volume  Google_result
Date
2017-08-01  150.050000  3.536864e+07         166000
2017-08-02  157.140000  6.993680e+07         136000
2017-08-03  155.570000  2.709730e+07         205000
2017-08-04  156.390000  2.055985e+07         193000
2017-08-05  157.196667  2.099668e+07         266000
2017-08-06  158.003333  2.143350e+07         113000
2017-08-07  158.810000  2.187032e+07         120000
2017-08-08  160.080000  3.620590e+07         127000
2017-08-09  161.060000  2.613153e+07        3540000
2017-08-10  155.320000  4.080427e+07         137000
2017-08-11  157.480000  2.625710e+07         149000
2017-08-12  158.270000  2.487898e+07         131000
2017-08-13  159.060000  2.350085e+07         383000
2017-08-14  159.850000  2.212273e+07         184000
2017-08-15  161.600000  2.946549e+07         174000
2017-08-16  160.950000  2.767161e+07         302000
2017-08-17  157.860000  2.794056e+07         614000
2017-08-18  157.500000  2.742807e+07         129000
2017-08-19  157.403333  2.707489e+07         130000
2017-08-20  157.306667  2.672171e+07         127000
2017-08-21  157.210000  2.636853e+07          77700
2017-08-22  159.780000  2.160458e+07          88900
2017-08-23  159.980000  1.939908e+07          87100
2017-08-24  159.270000  1.981892e+07          80900
2017-08-25  159.860000  2.548006e+07          65500
2017-08-26  160.396667  2.564203e+07          49100
2017-08-27  160.933333  2.580400e+07          79200
2017-08-28  161.470000  2.596597e+07          81200
2017-08-29  162.910000  2.951691e+07          77500
2017-08-30  163.350000  2.726958e+07         108000

In [31]:
df_y

                 Close        Volume
Date
2017-08-02  157.140000  6.993680e+07
2017-08-03  155.570000  2.709730e+07
2017-08-04  156.390000  2.055985e+07
2017-08-05  157.196667  2.099668e+07
2017-08-06  158.003333  2.143350e+07
2017-08-07  158.810000  2.187032e+07
2017-08-08  160.080000  3.620590e+07
2017-08-09  161.060000  2.613153e+07
2017-08-10  155.320000  4.080427e+07
2017-08-11  157.480000  2.625710e+07
2017-08-12  158.270000  2.487898e+07
2017-08-13  159.060000  2.350085e+07
2017-08-14  159.850000  2.212273e+07
2017-08-15  161.600000  2.946549e+07
2017-08-16  160.950000  2.767161e+07
2017-08-17  157.860000  2.794056e+07
2017-08-18  157.500000  2.742807e+07
2017-08-19  157.403333  2.707489e+07
2017-08-20  157.306667  2.672171e+07
2017-08-21  157.210000  2.636853e+07
2017-08-22  159.780000  2.160458e+07
2017-08-23  159.980000  1.939908e+07
2017-08-24  159.270000  1.981892e+07
2017-08-25  159.860000  2.548006e+07
2017-08-26  160.396667  2.564203e+07
2017-08-27  160.933333  2.580400e+07
2017-08-28  161.470000  2.596597e+07
2017-08-29  162.910000  2.951691e+07
2017-08-30  163.350000  2.726958e+07
2017-08-31  164.000000  2.678510e+07
2017-08-31  164.000000  2.678510e+07

In [35]:
df_x.Close = df_x.Close.apply(np.float64)
df_x.Volume = df_x.Volume.apply(np.float64)
df_x.Google_result = df_x.Google_result.apply(np.float64)

In [36]:
df_y = df_y.Close

In [37]:
df_y

Date
2017-08-02    157.140000
2017-08-03    155.570000
2017-08-04    156.390000
2017-08-05    157.196667
2017-08-06    158.003333
2017-08-07    158.810000
2017-08-08    160.080000
2017-08-09    161.060000
2017-08-10    155.320000
2017-08-11    157.480000
2017-08-12    158.270000
2017-08-13    159.060000
2017-08-14    159.850000
2017-08-15    161.600000
2017-08-16    160.950000
2017-08-17    157.860000
2017-08-18    157.500000
2017-08-19    157.403333
2017-08-20    157.306667
2017-08-21    157.210000
2017-08-22    159.780000
2017-08-23    159.980000
2017-08-24    159.270000
2017-08-25    159.860000
2017-08-26    160.396667
2017-08-27    160.933333
2017-08-28    161.470000
2017-08-29    162.910000
2017-08-30    163.350000
2017-08-31    164.000000
2017-08-31    164.000000
Name: Close, dtype: float64